@import "./variables.css";

.react-navigation__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: var(--z-index-base);
    transform: translateX(-100%);
    opacity: 0;
    background-color: color(var(--color-rose-gold) alpha(0.8));
    transition: opacity var(--duration-standard);

    &.show {
        transform: translateX(0);
        opacity: 0.1;
    }
}
