@import "./variables.css";
@import "./custom-medias.css";

.react-navigation__drawer {
    position: absolute;
    z-index: calc(var(--z-index-base) + 2);
    background-color: var(--color-beige);
    transition: transform var(--duration-standard);

    &.top {
        top: 0;
        left: 0;
        width: 100vw;
        height: 80vh;
        transform: translateY(-100%);

        &.show {
            transform: translateY(0);
        }
    }

    &.right {
        top: 0;
        right: 0;
        width: 80vw;
        height: 100vh;
        transform: translateX(100%);

        &.show {
            transform: translateX(0);
        }
    }

    &.bottom {
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 80vh;
        transform: translateY(100%);

        &.show {
            transform: translateY(0);
        }
    }

    &.left {
        top: 0;
        left: 0;
        width: 80vw;
        height: 100vh;
        transform: translateX(-100%);

        &.show {
            transform: translateX(0);
        }
    }
}

@media (--layout-lte-xsmall) {
    .react-navigation__drawer {
        width: 100vw;
        z-index: var(--z-index-base);
        transform: translateY(calc(-100% + 5rem));

        &.show {
            /* header height */
            transform: translateY(5rem);
        }
    }
}
